---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <!-- TODO: change links, gravatar, and bio here -->
  <section class="meta">
    <h3>Discussion, links, and tweets</h3>
    <section class="copy">
      <a href="https://twitter.com/holman">
        <img src="http://gravatar.com/avatar/0764d8fb09760f0bec8800b15f284274?s=142" height="50" width="50" />
      </a>

      <p>
        I'm a developer at YouSendIt. Follow me on <a href="https://twitter.com/ngerakines">Twitter</a> or
        <a href="https://plus.google.com/118120736401585084374">Google+</a>.
      </p>
    </section>
  </section>
</section>